@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');

body {
    background-color: #141321;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    padding: 20px;
}

h1 {
   font-weight: 600; 
}

.name {
    padding: 80px;
    height: 2vw;
}

.section-title {
    font-weight: 500;
}
